In [144]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

In [145]:
df=pd.read_csv('전국도서관표준데이터.csv',encoding="EUC-KR")
df=df[['시도명','시군구명','위도','경도']]
df

        시도명 시군구명         위도          경도
0       경기도  가평군  37.829691  127.506433
1       경기도  가평군  37.683315  127.491015
2       경기도  가평군  37.739591  127.424230
3       경기도  가평군  37.818290  127.352981
4     대전광역시  유성구  36.349268  127.330255
...     ...  ...        ...         ...
3792    경기도  평택시  36.996152  127.103199
3793    경기도  평택시  37.033340  127.099550
3794    경기도  평택시  37.066155  127.055729
3795    경기도  평택시  36.989362  126.847498
3796   전라북도  순창군  35.373735  127.140740

[3797 rows x 4 columns]

In [146]:
df['시군구명']=df['시도명']+" "+df['시군구명']
df.rename(columns={'시군구명':"지역명"},inplace=True)
df

        시도명        지역명         위도          경도
0       경기도    경기도 가평군  37.829691  127.506433
1       경기도    경기도 가평군  37.683315  127.491015
2       경기도    경기도 가평군  37.739591  127.424230
3       경기도    경기도 가평군  37.818290  127.352981
4     대전광역시  대전광역시 유성구  36.349268  127.330255
...     ...        ...        ...         ...
3792    경기도    경기도 평택시  36.996152  127.103199
3793    경기도    경기도 평택시  37.033340  127.099550
3794    경기도    경기도 평택시  37.066155  127.055729
3795    경기도    경기도 평택시  36.989362  126.847498
3796   전라북도   전라북도 순창군  35.373735  127.140740

[3797 rows x 4 columns]

In [147]:
df=df.dropna(subset=['위도'])
df

        시도명        지역명         위도          경도
0       경기도    경기도 가평군  37.829691  127.506433
1       경기도    경기도 가평군  37.683315  127.491015
2       경기도    경기도 가평군  37.739591  127.424230
3       경기도    경기도 가평군  37.818290  127.352981
4     대전광역시  대전광역시 유성구  36.349268  127.330255
...     ...        ...        ...         ...
3792    경기도    경기도 평택시  36.996152  127.103199
3793    경기도    경기도 평택시  37.033340  127.099550
3794    경기도    경기도 평택시  37.066155  127.055729
3795    경기도    경기도 평택시  36.989362  126.847498
3796   전라북도   전라북도 순창군  35.373735  127.140740

[3552 rows x 4 columns]

In [148]:
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

In [149]:
latitude_outliers = detect_outliers(df, '위도')
longitude_outliers = detect_outliers(df, '경도')
outliers_df = pd.concat([latitude_outliers, longitude_outliers]).drop_duplicates()

In [150]:
outliers_df

      시도명       지역명        위도       경도
989  충청북도  충청북도 보은군  127.7231  36.4877

In [151]:
df.drop(outliers_df.index,inplace=True)
df

C:\Users\anyou\AppData\Local\Temp\ipykernel_12548\3246964170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(outliers_df.index,inplace=True)

        시도명        지역명         위도          경도
0       경기도    경기도 가평군  37.829691  127.506433
1       경기도    경기도 가평군  37.683315  127.491015
2       경기도    경기도 가평군  37.739591  127.424230
3       경기도    경기도 가평군  37.818290  127.352981
4     대전광역시  대전광역시 유성구  36.349268  127.330255
...     ...        ...        ...         ...
3792    경기도    경기도 평택시  36.996152  127.103199
3793    경기도    경기도 평택시  37.033340  127.099550
3794    경기도    경기도 평택시  37.066155  127.055729
3795    경기도    경기도 평택시  36.989362  126.847498
3796   전라북도   전라북도 순창군  35.373735  127.140740

[3551 rows x 4 columns]

In [152]:
df1=pd.read_csv('행정안전부전국명절무료주차장현황20240207.csv')[['시도','시군구','경도','위도']]
df1['시군구']=df1['시도']+" "+df1['시군구']
df1.rename(columns={'시군구':'지역명','시도':'시도명'},inplace=True)
df1

         시도명        지역명          경도         위도
0       충청북도   충청북도 청주시  127.484556  36.619338
1      부산광역시  부산광역시 강서구  128.883784  35.153528
2      부산광역시  부산광역시 강서구  128.900069  35.084563
3      부산광역시  부산광역시 강서구  128.979552  35.212102
4      부산광역시  부산광역시 강서구  128.830017  35.011688
...      ...        ...         ...        ...
14941     경기     경기 포천시  127.201129  37.889712
14942     경기     경기 성남시  127.152601  37.404132
14943     서울     서울 강남구  127.047060  37.517968
14944     서울     서울 강남구  127.052143  37.515911
14945     경기     경기 안산시  126.866780  37.293275

[14946 rows x 4 columns]

In [153]:
result=pd.concat([df,df1])
result

         시도명        지역명         위도          경도
0        경기도    경기도 가평군  37.829691  127.506433
1        경기도    경기도 가평군  37.683315  127.491015
2        경기도    경기도 가평군  37.739591  127.424230
3        경기도    경기도 가평군  37.818290  127.352981
4      대전광역시  대전광역시 유성구  36.349268  127.330255
...      ...        ...        ...         ...
14941     경기     경기 포천시  37.889712  127.201129
14942     경기     경기 성남시  37.404132  127.152601
14943     서울     서울 강남구  37.517968  127.047060
14944     서울     서울 강남구  37.515911  127.052143
14945     경기     경기 안산시  37.293275  126.866780

[18497 rows x 4 columns]

In [154]:
mapping = {
    '서울특별시': '서울',
    '서울특별시 ': '서울',
    '인천광역시': '인천',
    '인천광역시 ': '인천',
    '대구광역시': '대구',
    '대구광역시 ': '대구',
    '부산광역시': '부산',
    '울산광역시': '울산',
    '울산시': '울산',
    '광주광역시': '광주',
    '경상남도 ': '경상남도',
    '충청남도 ': '충청남도',
    '경기도': '경기',
    '경기': '경기'
}

In [155]:
result['시도명'] = result['시도명'].str.strip().map(mapping).fillna(result['시도명'].str.strip())
result['지역명'] = result['지역명'].str.strip().map(mapping).fillna(result['지역명'].str.strip())
result

         시도명        지역명         위도          경도
0         경기    경기도 가평군  37.829691  127.506433
1         경기    경기도 가평군  37.683315  127.491015
2         경기    경기도 가평군  37.739591  127.424230
3         경기    경기도 가평군  37.818290  127.352981
4      대전광역시  대전광역시 유성구  36.349268  127.330255
...      ...        ...        ...         ...
14941     경기     경기 포천시  37.889712  127.201129
14942     경기     경기 성남시  37.404132  127.152601
14943     서울     서울 강남구  37.517968  127.047060
14944     서울     서울 강남구  37.515911  127.052143
14945     경기     경기 안산시  37.293275  126.866780

[18497 rows x 4 columns]

In [156]:
result['지역명'].unique()

array(['경기도 가평군', '대전광역시 유성구', '경기도 성남시', '서울특별시 강동구', '서울특별시 양천구',
       '경기도 오산시', '경상북도 영천시', '경기도 연천군', '강원도 속초시', '경상남도 진주시',
       '울산광역시 중구', '광주광역시 남구', '충청남도 홍성군', '전라남도 강진군', '서울특별시 강남구',
       '세종특별자치시 없음', '충청북도 제천시', '경상북도 경주시', '경상북도 영덕군', '경상북도 영주시',
       '경상북도 포항시', '전북특별자치도 전주시', '부산광역시 북구', '경상남도 창원시', '경기도 평택시',
       '대구광역시 달서구', '울산광역시 남구', '부산광역시 기장군', '경상남도 통영시', '광주광역시 북구',
       '경기도 안산시', '강원특별자치도 양양군', '전라남도 해남군', '서울특별시 서초구', '강원특별자치도 철원군',
       '대전광역시 동구', '서울특별시 성동구', '부산광역시 사상구', '전북특별자치도 완주군', '서울특별시 은평구',
       '대구광역시 중구', '충청북도 청주시', '충청남도 부여군', '인천광역시 강화군', '경기도 광명시',
       '충청남도 청양군', '강원도 태백시', '전라북도 고창군', '대구광역시 동구', '경상남도 거창군',
       '경상남도 양산시', '경상남도 밀양시', '경상남도 하동군', '경상남도 함안군', '경상남도 함양군',
       '경상남도 합천군', '광주광역시 동구', '광주광역시 서구', '광주광역시 광산구', '경기도 화성시',
       '강원도 철원군', '전라북도 남원시', '경기도 포천시', '전라남도 함평군', '강원도 양양군', '경기도 양평군',
       '서울특별시 광진구', '경기도 용인시', '부산광역시 영도구', '경상남도 김해시', '서울특별시 강서구',
       '대구광역시 북구', '경상북도 칠곡군', '충청북도 증평군', '인천광역시 계양구', '인천광역시 연수구',
       '경기도 시흥시', '서울특별시 마포구', '서울특별시 서울특별시 도봉구', '충청북도 음성군', '강원도 삼척시',
       '서울특별시 영등포구', '전라남도 장성군', '서울특별시 노원구', '강원특별자치도 태백시', '대구광역시 수성구',
       '경상북도 성주군', '인천광역시 부평구', '경기도 부천시', '서울특별시 서대문구', '경상북도 문경시',
       '경상북도 안동시', '서울특별시 중구', '전라북도 임실군', '강원도 동해시', '부산광역시 서구',
       '제주특별자치도 제주시', '강원특별자치도 동해시', '전라북도 전주시 덕진구', '전라북도 군산시',
       '전라북도 익산시', '전라북도 정읍시', '부산광역시 동래구', '전라남도 무안군', '경상북도 의성군',
       '부산광역시 강서구', '인천광역시 중구', '대구광역시 달성군', '강원도 화천군', '인천광역시 남동구',
       '인천광역시 동구', '경상남도 산청군', '전라북도 진안군', '강원도 양구군', '강원도 정선군',
       '전라남도 화순군', '충청북도 옥천군', '대구광역시 남구', '부산광역시 연제구', '충청남도 논산시',
       '경상북도 구미시', '울산광역시 울주군', '서울특별시 구로구', '인천광역시 미추홀구', '경상북도 상주시',
       '경상북도 울릉군', '경기도 하남시', '전라남도 순천시', '전라남도 진도군', '제주특별자치도 서귀포시',
       '경기도 군포시', '강원도 평창군', '전라남도 목포시', '전라남도 영광군', '부산광역시 남구',
       '강원특별자치도 강릉시', '서울특별시 용산구', '경기도 파주시', '서울특별시 송파구', '강원특별자치도 삼척시',
       '강원특별자치도 홍천군', '경기도 과천시', '경기도 의정부시', '부산광역시 중구', '충청남도 금산군',
       '경기도 양주시', '충청북도 진천군', '경상북도 청송군', '충청남도 계룡시', '경기도 동두천시',
       '인천광역시 서구', '서울특별시 성북구', '전북특별자치도 정읍시', '서울특별시 관악구', '경기도 의왕시',
       '서울특별시 종로구', '전라남도 구례군', '강원도 원주시', '대구광역시 서구', '대구광역시 군위군',
       '충청북도 영동군', '경상북도 예천군', '강원특별자치도 양구군', '충청남도 태안군', '충청남도 공주시',
       '강원특별자치도 춘천시', '경상북도 김천시', '전북특별자치도 부안군', '경기도 남양주시', '경상남도 남해군',
       '전라북도 부안군', '충청남도 천안시', '전라남도 신안군', '경상남도 고성군', '전라북도 김제시',
       '전라북도 완주군', '전라북도 무주군', '전라북도 장수군', '전라북도 순창군', '강원도 강릉시',
       '부산광역시 사하구', '강원특별자치도 화천군', '서울특별시 동작구', '강원도 홍천군', '대전광역시 중구',
       '전북특별자치도 임실군', '울산광역시 동구', '전라남도 보성군', '전라남도 장흥군', '경상남도 의령군',
       '부산광역시 동구', '경상북도 봉화군', '전라북도 전주시', '경기도 수원시', '충청북도 괴산군',
       '부산광역시 부산진구', '충청북도 충주시', '충청남도 예산군', '전라남도 곡성군', '부산광역시 수영구',
       '부산광역시 금정구', '충청남도 보령시', '전북특별자치도 순창군', '전북특별자치도 고창군',
       '전북특별자치도 무주군', '전라남도 완도군', '전북특별자치도 장수군', '경상북도 울진군', '경기도 광주시',
       '대전광역시 서구', '경상북도 하양읍', '경상북도 영양군', '전라남도 광양시', '전라남도 영암군',
       '전라남도 여수시', '대전광역시 대덕구', '경상북도 청도군', '경상북도 고령군', '경상북도 경산시',
       '전북특별자치도 군산시', '전북특별자치도 익산시', '전북특별자치도 남원시', '전북특별자치도 김제시',
       '강원특별자치도 영월군', '강원특별자치도 원주시', '강원특별자치도 인제군', '강원특별자치도 정선군',
       '강원특별자치도 평창군', '강원특별자치도 횡성군', '서울특별시 금천구', '강원도 춘천시', '강원도 영월군',
       '경기도 안양시', '전라남도 나주시', '전라남도 고흥군', '전라남도 담양군', '충청남도 서산시',
       '경상남도 사천시', '경상남도 창원시 마산합포구', '경상남도 창녕군', '경상남도 창원시 성산구',
       '경상남도 창원시 마산회원구', '강원특별자치도 고성군', '강원특별자치도 속초시', '경기도 여주시',
       '경기도 김포시', '경상남도 거제시', '충청북도 단양군', '경기도 구리시', '경기도 고양시', '경기도 이천시',
       '충청북도 괴산군 괴산읍', '강원도 횡성군', '전북특별자치도 진안군', '강원도 인제군', '강원도 고성군',
       '서울특별시 강북구', '충청남도 아산시', '인천광역시 옹진군', '충청남도 서천군', '부산광역시 해운대구',
       '울산광역시 북구', '부산 동래구', '부산 북구', '부산 사상구', '부산 사하구', '부산 서구',
       '부산 해운대구', '전라북도 덕진구', '수원시 수원시', '인천 중구', '인천 옹진군', '인천 부평구',
       '인천 남동구', '인천 계양구', '인천 서구', '인천 강화군', '전남 강진군', '전남 순천시',
       '전남 장흥군', '전남 곡성군', '경남 진주시', '경남 거창군', '경남 고성군', '경남 창원시',
       '경남 밀양시', '경남 하동군', '경남 사천시', '경남 함안군', '경남 김해시', '경남 창녕군',
       '경남 산청군', '경남 의령군', '경남 합천군', '경남 거제시', '경남 함양군', '경남 통영시',
       '경남 양산시', '경상남도  창원시', '경상남도  밀양시', '경남 남해군', '경상남도  남해군',
       '경북 칠곡군', '경북 청도군', '경북 김천시', '경북 영덕군', '경북 포항시', '경북 경산시',
       '경북 구미시', '경북 문경시', '경북 영양군', '경북 영주시', '경북 경주시', '경북 영천시',
       '경북 울진군', '경북 상주시', '경북 의성군', '경북 봉화군', '경북 안동시', '경북 성주군',
       '경북 고령군', '경북 예천군', '경북 청송군', '경북 울릉군', '전남 광양시', '전남 구례군',
       '전남 담양군', '전남 목포시', '전남 무안군', '전남 보성군', '전남 여수시', '전남 영광군',
       '전남 완도군', '전남 장성군', '전남 함평군', '전남 해남군', '전남 나주시', '울산 북구',
       '울산 울주군', '울산 남구', '울산 중구', '울산 동구', nan, '세종특별자치시 보람로',
       '세종특별자치시 부강면', '세종특별자치시 조치원읍', '세종특별자치시 남세종로', '세종특별자치시 달빛2로',
       '세종특별자치시 도움3로', '세종특별자치시 해밀2로', '충북 괴산군', '충북 단양군', '충북 보은군',
       '충청북도 보은군', '충북 영동군', '충북 옥천군', '충북 음성군', '충북 제천시', '충북 증평군',
       '충북 진천군', '충북 청주시', '충북 충주시', '전북 군산시', '부산 기장군', '전북 남원시',
       '대전 중구', '부산 수영구', '전북 전주시', '광주 서구', '울산시 중구', '대전 동구', '경기 남양주시',
       '서울 서초구', '대구 달성군', '대구 수성구', '대구 달서구', '대구 중구', '대구광역시  달서구',
       '대구 서구', '대구 남구', '대구 동구', '경상북도 포항시 북구', '대구 북구', '대구 군위군',
       '부산 부산진구', '부산광역시 부산연제구', '부산광역시 부산동구', '부산 금정구', '부산 강서구',
       '부산 남구', '부산광역시 부산중구', '부산광역시 부산동래구', '부산광역시 부산남구', '부산 동구',
       '부산 중구', '부산 연제구', '부산광역시 부산북구', '부산광역시 부산서구', '부산 영도구',
       '부산광역시 부산시사하구', '부산광역시 부산기장군', '부산광역시 부산영도구', '경기도  용인시', '경기 가평군',
       '경기 고양시', '경기 과천시', '경기 광주시', '경기 구리시', '경기 군포시', '경기 김포시',
       '경기 부천시', '경기 성남시', '경기 수원시', '경기 시흥시', '경기 안산시', '경기도 안성시',
       '경기 안성시', '경기 안양시', '경기 양주시', '경기 양평군', '경기 여주시', '경기 연천군',
       '경기 화성시', '경기 오산시', '경기 용인시', '경기 의왕시', '경기 의정부시', '경기 이천시',
       '경기 파주시', '경기 평택시', '경기 포천시', '경기 하남시', '광주 동구', '광주 광산구',
       '전북 정읍시', '대전 서구', '대전 유성구', '충남 아산시', '충남 천안시', '충청남도  천안시',
       '충남 공주시', '충남 보령시', '충남 서산시', '충남 논산시', '충남 계룡시', '충남 당진시',
       '충청남도 당진시', '충남 금산군', '충남 부여군', '충남 서천군', '충남 홍성군', '충남 예산군',
       '충남 태안군', '인천광역시  남동구', '서울 강동구', '서울특별시 동대문구', '서울 강서구',
       '서울 영등포구', '서울 광진구', '서울 송파구', '충남 청양군', '세종특별자치시 세종시',
       '세종특별자치시 아름서길', '서울특별시 중랑구', '서울특별시 도봉구', '서울 용산구', '서울 강북구',
       '경기 광명시', '경기도 일산동구', '대전 대덕구', '서울 종로구', '전라북도 진안읍', '전라남도 해남읍',
       '경상남도 광도면', '경상남도 거창읍', '경기도 수원시 팔달구', '경기도 수원시 권선구',
       '경기도 안산시 단원구', '경기도 의정부', '경기도 동두천', '경상북도 포항시 남구', '충청남도 천안시 서북구',
       '충청남도 태안읍', '제주특별자치도 서귀포', '충청북도 청주시 서원구', '충청북도 청주시 청원구',
       '전북 고창군', '전북 무주군', '경기 동두천시', '세종특별자치시 시청대로', '인천 미추홀구',
       '세종특별자치시 한누리대로', '전북 익산시', '광주 북구', '세종특별자치시 집현중앙로',
       '세종특별자치시 다정남로', '서울 관악구', '인천 연수구', '전남 화순군', '서울 금천구',
       '세종특별자치시 나리로', '전남 고흥군', '서울 동작구', '전북 장수군', '전북 임실군', '서울 중구',
       '전북 김제시', '서울 양천구', '세종특별자치시 집현중앙7로', '광주 남구', '전북 순창군',
       '세종특별자치시 소담4로', '세종특별자치시 마음안로', '세종특별자치시 장군면', '세종특별자치시 다솜로',
       '서울 중랑구', '서울 은평구', '서울 구로구', '서울 성북구', '서울 강남구', '서울 노원구',
       '세종특별자치시 마음로', '세종특별자치시 연동면', '세종특별자치시 연서면', '세종특별자치시 갈매로',
       '인천 동구', '서울 동대문구', '서울 서대문구'], dtype=object)

In [157]:
result['시도명'].unique()

array(['경기', '대전광역시', '서울', '경상북도', '강원도', '경상남도', '울산', '광주', '충청남도',
       '전라남도', '세종특별자치시', '충청북도', '전북특별자치도', '부산', '대구', '강원특별자치도', '인천',
       '전라북도', '제주특별자치도', '수원시', '전남', '경남', '경북', '충북', '전북', '대전', '충남'],
      dtype=object)

In [158]:
result.to_csv('data.csv',index=False)