In [108]:
import pandas as pd

In [109]:
df=pd.read_csv('전국도서관표준데이터.csv',encoding="EUC-KR")
df=df[['시도명','시군구명','위도','경도']]
df

        시도명 시군구명         위도          경도
0       경기도  가평군  37.829691  127.506433
1       경기도  가평군  37.683315  127.491015
2       경기도  가평군  37.739591  127.424230
3       경기도  가평군  37.818290  127.352981
4     대전광역시  유성구  36.349268  127.330255
...     ...  ...        ...         ...
3792    경기도  평택시  36.996152  127.103199
3793    경기도  평택시  37.033340  127.099550
3794    경기도  평택시  37.066155  127.055729
3795    경기도  평택시  36.989362  126.847498
3796   전라북도  순창군  35.373735  127.140740

[3797 rows x 4 columns]

In [110]:
df.isnull().sum()

시도명       0
시군구명      0
위도      245
경도      245
dtype: int64

In [111]:
df=df.dropna(subset=['위도','경도'])
df

        시도명 시군구명         위도          경도
0       경기도  가평군  37.829691  127.506433
1       경기도  가평군  37.683315  127.491015
2       경기도  가평군  37.739591  127.424230
3       경기도  가평군  37.818290  127.352981
4     대전광역시  유성구  36.349268  127.330255
...     ...  ...        ...         ...
3792    경기도  평택시  36.996152  127.103199
3793    경기도  평택시  37.033340  127.099550
3794    경기도  평택시  37.066155  127.055729
3795    경기도  평택시  36.989362  126.847498
3796   전라북도  순창군  35.373735  127.140740

[3552 rows x 4 columns]

In [112]:
df['시군구명']=df['시도명']+" "+df['시군구명']
df.rename(columns={'시군구명':"지역명"},inplace=True)
df

C:\Temp\ipykernel_14420\2321417562.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시군구명']=df['시도명']+" "+df['시군구명']
C:\Temp\ipykernel_14420\2321417562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'시군구명':"지역명"},inplace=True)

        시도명        지역명         위도          경도
0       경기도    경기도 가평군  37.829691  127.506433
1       경기도    경기도 가평군  37.683315  127.491015
2       경기도    경기도 가평군  37.739591  127.424230
3       경기도    경기도 가평군  37.818290  127.352981
4     대전광역시  대전광역시 유성구  36.349268  127.330255
...     ...        ...        ...         ...
3792    경기도    경기도 평택시  36.996152  127.103199
3793    경기도    경기도 평택시  37.033340  127.099550
3794    경기도    경기도 평택시  37.066155  127.055729
3795    경기도    경기도 평택시  36.989362  126.847498
3796   전라북도   전라북도 순창군  35.373735  127.140740

[3552 rows x 4 columns]

In [113]:
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

In [114]:
latitude_outliers = detect_outliers(df, '위도')
longitude_outliers = detect_outliers(df, '경도')
outliers_df = pd.concat([latitude_outliers, longitude_outliers]).drop_duplicates()

In [115]:
outliers_df

      시도명       지역명        위도       경도
989  충청북도  충청북도 보은군  127.7231  36.4877

In [116]:
df.drop(outliers_df.index,inplace=True)
df

C:\Temp\ipykernel_14420\3246964170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(outliers_df.index,inplace=True)

        시도명        지역명         위도          경도
0       경기도    경기도 가평군  37.829691  127.506433
1       경기도    경기도 가평군  37.683315  127.491015
2       경기도    경기도 가평군  37.739591  127.424230
3       경기도    경기도 가평군  37.818290  127.352981
4     대전광역시  대전광역시 유성구  36.349268  127.330255
...     ...        ...        ...         ...
3792    경기도    경기도 평택시  36.996152  127.103199
3793    경기도    경기도 평택시  37.033340  127.099550
3794    경기도    경기도 평택시  37.066155  127.055729
3795    경기도    경기도 평택시  36.989362  126.847498
3796   전라북도   전라북도 순창군  35.373735  127.140740

[3551 rows x 4 columns]

In [117]:
df1=pd.read_csv('행정안전부전국명절무료주차장현황20240207.csv')[['시도','시군구','경도','위도']]
df1['시도명']=df1['시도명'].apply(lambda x:str(x).strip())
df1['시군구']=df1['시도']+" "+df1['시군구']
df1.rename(columns={'시군구':'지역명','시도':'시도명'},inplace=True)
df1

KeyError: '시도명'

In [ ]:
df1.isnull().sum()

시도명     0
지역명    80
경도      1
위도      1
dtype: int64

In [ ]:
df1=df1[~(df1['경도'].isnull()|df1['지역명'].isnull())]
df1

         시도명        지역명          경도         위도
0       충청북도   충청북도 청주시  127.484556  36.619338
1      부산광역시  부산광역시 강서구  128.883784  35.153528
2      부산광역시  부산광역시 강서구  128.900069  35.084563
3      부산광역시  부산광역시 강서구  128.979552  35.212102
4      부산광역시  부산광역시 강서구  128.830017  35.011688
...      ...        ...         ...        ...
14941     경기     경기 포천시  127.201129  37.889712
14942     경기     경기 성남시  127.152601  37.404132
14943     서울     서울 강남구  127.047060  37.517968
14944     서울     서울 강남구  127.052143  37.515911
14945     경기     경기 안산시  126.866780  37.293275

[14865 rows x 4 columns]

In [ ]:
result=pd.concat([df,df1])
result

         시도명        지역명         위도          경도
0        경기도    경기도 가평군  37.829691  127.506433
1        경기도    경기도 가평군  37.683315  127.491015
2        경기도    경기도 가평군  37.739591  127.424230
3        경기도    경기도 가평군  37.818290  127.352981
4      대전광역시  대전광역시 유성구  36.349268  127.330255
...      ...        ...        ...         ...
14941     경기     경기 포천시  37.889712  127.201129
14942     경기     경기 성남시  37.404132  127.152601
14943     서울     서울 강남구  37.517968  127.047060
14944     서울     서울 강남구  37.515911  127.052143
14945     경기     경기 안산시  37.293275  126.866780

[18416 rows x 4 columns]

In [ ]:
result['시도명']=result['시도명'].apply(lambda x:str(x).strip())
result

         시도명        지역명         위도          경도
0        경기도    경기도 가평군  37.829691  127.506433
1        경기도    경기도 가평군  37.683315  127.491015
2        경기도    경기도 가평군  37.739591  127.424230
3        경기도    경기도 가평군  37.818290  127.352981
4      대전광역시  대전광역시 유성구  36.349268  127.330255
...      ...        ...        ...         ...
14941     경기     경기 포천시  37.889712  127.201129
14942     경기     경기 성남시  37.404132  127.152601
14943     서울     서울 강남구  37.517968  127.047060
14944     서울     서울 강남구  37.515911  127.052143
14945     경기     경기 안산시  37.293275  126.866780

[18416 rows x 4 columns]

In [ ]:
result['시도명'].unique()

array(['경기도', '대전광역시', '서울특별시', '경상북도', '강원도', '경상남도', '울산광역시', '광주광역시',
       '충청남도', '전라남도', '세종특별자치시', '충청북도', '전북특별자치도', '부산광역시', '대구광역시',
       '강원특별자치도', '인천광역시', '전라북도', '제주특별자치도', '부산', '수원시', '인천', '전남',
       '경남', '경북', '울산', '충북', '전북', '대전', '광주', '울산시', '경기', '서울', '대구',
       '충남'], dtype=object)

In [ ]:
region_aliases = {
    '경기도': '경기도',
    '경기': '경기도',
    '서울특별시': '서울특별시',
    '서울': '서울특별시',
    '인천광역시': '인천광역시',
    '인천': '인천광역시',
    '대전광역시': '대전광역시',
    '대전': '대전광역시',
    '광주광역시': '광주광역시',
    '광주': '광주광역시',
    '대구광역시': '대구광역시',
    '대구': '대구광역시',
    '울산광역시': '울산광역시',
    '울산': '울산광역시',
    '울산시': '울산광역시',
    '부산광역시': '부산광역시',
    '부산': '부산광역시',
    '수원시': '수원시',
    '강원도': '강원도',
    '강원특별자치도': '강원특별자치도',
    '충청남도': '충청남도',
    '충남': '충청남도',
    '충청북도': '충청북도',
    '충북': '충청북도',
    '전라남도': '전라남도',
    '전남': '전라남도',
    '전라북도': '전라북도',
    '전북': '전라북도',
    '전북특별자치도': '전북특별자치도',
    '경상남도': '경상남도',
    '경남': '경상남도',
    '경상북도': '경상북도',
    '경북': '경상북도',
    '제주특별자치도': '제주특별자치도',
    '세종특별자치시': '세종특별자치시'
}