In [83]:
import pandas as pd

In [84]:
df=pd.read_csv('전국도서관표준데이터.csv',encoding="EUC-KR")
df=df[['시도명','시군구명','위도','경도']]
df

        시도명 시군구명         위도          경도
0       경기도  가평군  37.829691  127.506433
1       경기도  가평군  37.683315  127.491015
2       경기도  가평군  37.739591  127.424230
3       경기도  가평군  37.818290  127.352981
4     대전광역시  유성구  36.349268  127.330255
...     ...  ...        ...         ...
3792    경기도  평택시  36.996152  127.103199
3793    경기도  평택시  37.033340  127.099550
3794    경기도  평택시  37.066155  127.055729
3795    경기도  평택시  36.989362  126.847498
3796   전라북도  순창군  35.373735  127.140740

[3797 rows x 4 columns]

In [85]:
df.isnull().sum()

시도명       0
시군구명      0
위도      245
경도      245
dtype: int64

In [86]:
df[df['위도'].isnull()]

        시도명  시군구명  위도  경도
42    인천광역시   옹진군 NaN NaN
43    인천광역시   옹진군 NaN NaN
44     충청남도   보령시 NaN NaN
66    서울특별시   강남구 NaN NaN
67    서울특별시   강남구 NaN NaN
...     ...   ...  ..  ..
3475  인천광역시    동구 NaN NaN
3476  인천광역시    동구 NaN NaN
3477  인천광역시  미추홀구 NaN NaN
3604   충청남도   공주시 NaN NaN
3629  서울특별시   금천구 NaN NaN

[245 rows x 4 columns]

In [87]:
df=df.dropna(subset=['위도','경도'])
df

        시도명 시군구명         위도          경도
0       경기도  가평군  37.829691  127.506433
1       경기도  가평군  37.683315  127.491015
2       경기도  가평군  37.739591  127.424230
3       경기도  가평군  37.818290  127.352981
4     대전광역시  유성구  36.349268  127.330255
...     ...  ...        ...         ...
3792    경기도  평택시  36.996152  127.103199
3793    경기도  평택시  37.033340  127.099550
3794    경기도  평택시  37.066155  127.055729
3795    경기도  평택시  36.989362  126.847498
3796   전라북도  순창군  35.373735  127.140740

[3552 rows x 4 columns]

In [88]:
df.rename(columns={'시군구명':"지역명"},inplace=True)
df

C:\Temp\ipykernel_21672\2987627676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'시군구명':"지역명"},inplace=True)

        시도명  지역명         위도          경도
0       경기도  가평군  37.829691  127.506433
1       경기도  가평군  37.683315  127.491015
2       경기도  가평군  37.739591  127.424230
3       경기도  가평군  37.818290  127.352981
4     대전광역시  유성구  36.349268  127.330255
...     ...  ...        ...         ...
3792    경기도  평택시  36.996152  127.103199
3793    경기도  평택시  37.033340  127.099550
3794    경기도  평택시  37.066155  127.055729
3795    경기도  평택시  36.989362  126.847498
3796   전라북도  순창군  35.373735  127.140740

[3552 rows x 4 columns]

In [89]:
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

In [90]:
latitude_outliers = detect_outliers(df, '위도')
longitude_outliers = detect_outliers(df, '경도')
outliers_df = pd.concat([latitude_outliers, longitude_outliers]).drop_duplicates()

In [91]:
outliers_df

      시도명  지역명        위도       경도
989  충청북도  보은군  127.7231  36.4877

In [92]:
df.drop(outliers_df.index,inplace=True)
df

C:\Temp\ipykernel_21672\3246964170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(outliers_df.index,inplace=True)

        시도명  지역명         위도          경도
0       경기도  가평군  37.829691  127.506433
1       경기도  가평군  37.683315  127.491015
2       경기도  가평군  37.739591  127.424230
3       경기도  가평군  37.818290  127.352981
4     대전광역시  유성구  36.349268  127.330255
...     ...  ...        ...         ...
3792    경기도  평택시  36.996152  127.103199
3793    경기도  평택시  37.033340  127.099550
3794    경기도  평택시  37.066155  127.055729
3795    경기도  평택시  36.989362  126.847498
3796   전라북도  순창군  35.373735  127.140740

[3551 rows x 4 columns]

In [93]:
df['지역명'].unique()

array(['가평군', '유성구', '성남시', '강동구', '양천구', '오산시', '영천시', '연천군', '속초시',
       '진주시', '중구', '남구', '홍성군', '강진군', '강남구', '없음', '제천시', '경주시', '영덕군',
       '영주시', '포항시', '전주시', '북구', '창원시', '평택시', '달서구', '기장군', '통영시',
       '안산시', '양양군', '해남군', '서초구', '철원군', '동구', '성동구', '사상구', '완주군',
       '은평구', '청주시', '부여군', '강화군', '광명시', '청양군', '태백시', '고창군', '거창군',
       '양산시', '밀양시', '하동군', '함안군', '함양군', '합천군', '서구', '광산구', '화성시',
       '남원시', '포천시', '함평군', '양평군', '광진구', '용인시', '영도구', '김해시', '강서구',
       '칠곡군', '증평군', '계양구', '연수구', '시흥시', '마포구', '서울특별시 도봉구', '음성군',
       '삼척시', '영등포구', '장성군', '노원구\u3000', '수성구', '성주군', '부평구', '부천시',
       '서대문구', '문경시', '안동시', '임실군', '동해시', '제주시', '전주시 덕진구', '군산시', '익산시',
       '정읍시', '동래구', '무안군', '의성군', '달성군', '화천군', '남동구', '산청군', '진안군',
       '양구군', '정선군', '화순군', '옥천군', '연제구', '논산시', '구미시', '울주군', '구로구',
       '미추홀구', '상주시', '울릉군', '하남시', '순천시', '진도군', '서귀포시', '군포시', '평창군',
       '목포시', '영광군', '강릉시', '용산구', '파주시', '송파구', '홍천군', '과천시', '의정부시',
       '금산군', '양주시', '진천군', '청송군', '계룡시', '동두천시', '성북구', '관악구', '의왕시',
       '종로구', '구례군', '원주시', '군위군', '영동군', '예천군', '태안군', '공주시', '춘천시',
       '김천시', '부안군', '남양주시', '남해군', '천안시', '신안군', '고성군', '김제시', '무주군',
       '장수군', '순창군', '사하구', '동작구', '보성군', '장흥군', '의령군', '봉화군', '수원시',
       '괴산군', '부산진구', '충주시', '예산군', '곡성군', '수영구', '금정구', '보령시', '완도군',
       '울진군', '광주시', '하양읍', '영양군', '광양시', '영암군', '여수시', '대덕구', '청도군',
       '고령군', '경산시', '영월군', '인제군', '횡성군', '금천구', '안양시', '나주시', '고흥군',
       '담양군', '서산시', '사천시', '창원시 마산합포구', '창녕군', '창원시 성산구', '창원시 마산회원구',
       '여주시', '김포시', '거제시', '단양군', '구리시', '고양시', '이천시', '괴산군 괴산읍', '강북구',
       '아산시', '옹진군', '서천군', '해운대구'], dtype=object)

In [94]:
df1=pd.read_csv('행정안전부전국명절무료주차장현황20240207.csv')[['시도','시군구','경도','위도']]
df1

          시도  시군구          경도         위도
0       충청북도  청주시  127.484556  36.619338
1      부산광역시  강서구  128.883784  35.153528
2      부산광역시  강서구  128.900069  35.084563
3      부산광역시  강서구  128.979552  35.212102
4      부산광역시  강서구  128.830017  35.011688
...      ...  ...         ...        ...
14941     경기  포천시  127.201129  37.889712
14942     경기  성남시  127.152601  37.404132
14943     서울  강남구  127.047060  37.517968
14944     서울  강남구  127.052143  37.515911
14945     경기  안산시  126.866780  37.293275

[14946 rows x 4 columns]

In [95]:
df1['시도'].unique()

array(['충청북도', '부산광역시', '부산', '강원특별자치도', '강원도', '광주광역시', '전라북도',
       '제주특별자치도', '충청남도', '수원시', '인천광역시', '인천', '전라남도', '전남', '경기도',
       '경상남도', '대전광역시', '경남', '경상남도 ', '경북', '경상북도', '울산광역시', '울산',
       '세종특별자치시', '충북', '전북', '대구광역시', '대전', '광주', '서울특별시', '울산시', '경기',
       '서울', '대구', '대구광역시 ', '전북특별자치도', '충남', '충청남도 ', '인천광역시 ', ' 서울특별시'],
      dtype=object)

In [96]:
df1['시도']=df1['시도'].apply(lambda x:str(x).strip())
df1.rename(columns={'시군구':'지역명','시도':'시도명'},inplace=True)
df1

         시도명  지역명          경도         위도
0       충청북도  청주시  127.484556  36.619338
1      부산광역시  강서구  128.883784  35.153528
2      부산광역시  강서구  128.900069  35.084563
3      부산광역시  강서구  128.979552  35.212102
4      부산광역시  강서구  128.830017  35.011688
...      ...  ...         ...        ...
14941     경기  포천시  127.201129  37.889712
14942     경기  성남시  127.152601  37.404132
14943     서울  강남구  127.047060  37.517968
14944     서울  강남구  127.052143  37.515911
14945     경기  안산시  126.866780  37.293275

[14946 rows x 4 columns]

In [97]:
df1.isnull().sum()

시도명     0
지역명    80
경도      1
위도      1
dtype: int64

In [98]:
df1=df1[~(df1['경도'].isnull()|df1['지역명'].isnull())]
df1

         시도명  지역명          경도         위도
0       충청북도  청주시  127.484556  36.619338
1      부산광역시  강서구  128.883784  35.153528
2      부산광역시  강서구  128.900069  35.084563
3      부산광역시  강서구  128.979552  35.212102
4      부산광역시  강서구  128.830017  35.011688
...      ...  ...         ...        ...
14941     경기  포천시  127.201129  37.889712
14942     경기  성남시  127.152601  37.404132
14943     서울  강남구  127.047060  37.517968
14944     서울  강남구  127.052143  37.515911
14945     경기  안산시  126.866780  37.293275

[14865 rows x 4 columns]

In [99]:
df1

         시도명  지역명          경도         위도
0       충청북도  청주시  127.484556  36.619338
1      부산광역시  강서구  128.883784  35.153528
2      부산광역시  강서구  128.900069  35.084563
3      부산광역시  강서구  128.979552  35.212102
4      부산광역시  강서구  128.830017  35.011688
...      ...  ...         ...        ...
14941     경기  포천시  127.201129  37.889712
14942     경기  성남시  127.152601  37.404132
14943     서울  강남구  127.047060  37.517968
14944     서울  강남구  127.052143  37.515911
14945     경기  안산시  126.866780  37.293275

[14865 rows x 4 columns]

In [100]:
latitude_outliers = detect_outliers(df1, '위도')
longitude_outliers = detect_outliers(df1, '경도')
outliers_df = pd.concat([latitude_outliers, longitude_outliers]).drop_duplicates()
outliers_df

Empty DataFrame
Columns: [시도명, 지역명, 경도, 위도]
Index: []

In [101]:
result=pd.concat([df,df1])
result

         시도명  지역명         위도          경도
0        경기도  가평군  37.829691  127.506433
1        경기도  가평군  37.683315  127.491015
2        경기도  가평군  37.739591  127.424230
3        경기도  가평군  37.818290  127.352981
4      대전광역시  유성구  36.349268  127.330255
...      ...  ...        ...         ...
14941     경기  포천시  37.889712  127.201129
14942     경기  성남시  37.404132  127.152601
14943     서울  강남구  37.517968  127.047060
14944     서울  강남구  37.515911  127.052143
14945     경기  안산시  37.293275  126.866780

[18416 rows x 4 columns]

In [102]:
result['시도명']=result['시도명'].apply(lambda x:str(x).strip())
result

         시도명  지역명         위도          경도
0        경기도  가평군  37.829691  127.506433
1        경기도  가평군  37.683315  127.491015
2        경기도  가평군  37.739591  127.424230
3        경기도  가평군  37.818290  127.352981
4      대전광역시  유성구  36.349268  127.330255
...      ...  ...        ...         ...
14941     경기  포천시  37.889712  127.201129
14942     경기  성남시  37.404132  127.152601
14943     서울  강남구  37.517968  127.047060
14944     서울  강남구  37.515911  127.052143
14945     경기  안산시  37.293275  126.866780

[18416 rows x 4 columns]

In [103]:
result['시도명'].unique()

array(['경기도', '대전광역시', '서울특별시', '경상북도', '강원도', '경상남도', '울산광역시', '광주광역시',
       '충청남도', '전라남도', '세종특별자치시', '충청북도', '전북특별자치도', '부산광역시', '대구광역시',
       '강원특별자치도', '인천광역시', '전라북도', '제주특별자치도', '부산', '수원시', '인천', '전남',
       '경남', '경북', '울산', '충북', '전북', '대전', '광주', '울산시', '경기', '서울', '대구',
       '충남'], dtype=object)

In [104]:
region_aliases = {
    '경기도': '경기도',
    '경기': '경기도',
    '서울특별시': '서울특별시',
    '서울': '서울특별시',
    '인천광역시': '인천광역시',
    '인천': '인천광역시',
    '대전광역시': '대전광역시',
    '대전': '대전광역시',
    '광주광역시': '광주광역시',
    '광주': '광주광역시',
    '대구광역시': '대구광역시',
    '대구': '대구광역시',
    '울산광역시': '울산광역시',
    '울산': '울산광역시',
    '울산시': '울산광역시',
    '부산광역시': '부산광역시',
    '부산': '부산광역시',
    '수원시': '수원시',
    '강원도': '강원도',
    '강원특별자치도': '강원특별자치도',
    '충청남도': '충청남도',
    '충남': '충청남도',
    '충청북도': '충청북도',
    '충북': '충청북도',
    '전라남도': '전라남도',
    '전남': '전라남도',
    '전라북도': '전라북도',
    '전북': '전라북도',
    '전북특별자치도': '전북특별자치도',
    '경상남도': '경상남도',
    '경남': '경상남도',
    '경상북도': '경상북도',
    '경북': '경상북도',
    '제주특별자치도': '제주특별자치도',
    '세종특별자치시': '세종특별자치시'
}

In [105]:
result['시도명']=result['시도명'].map(region_aliases)
result

         시도명  지역명         위도          경도
0        경기도  가평군  37.829691  127.506433
1        경기도  가평군  37.683315  127.491015
2        경기도  가평군  37.739591  127.424230
3        경기도  가평군  37.818290  127.352981
4      대전광역시  유성구  36.349268  127.330255
...      ...  ...        ...         ...
14941    경기도  포천시  37.889712  127.201129
14942    경기도  성남시  37.404132  127.152601
14943  서울특별시  강남구  37.517968  127.047060
14944  서울특별시  강남구  37.515911  127.052143
14945    경기도  안산시  37.293275  126.866780

[18416 rows x 4 columns]

In [106]:
result['지역명']=result['시도명']+" "+result['지역명']
result

         시도명        지역명         위도          경도
0        경기도    경기도 가평군  37.829691  127.506433
1        경기도    경기도 가평군  37.683315  127.491015
2        경기도    경기도 가평군  37.739591  127.424230
3        경기도    경기도 가평군  37.818290  127.352981
4      대전광역시  대전광역시 유성구  36.349268  127.330255
...      ...        ...        ...         ...
14941    경기도    경기도 포천시  37.889712  127.201129
14942    경기도    경기도 성남시  37.404132  127.152601
14943  서울특별시  서울특별시 강남구  37.517968  127.047060
14944  서울특별시  서울특별시 강남구  37.515911  127.052143
14945    경기도    경기도 안산시  37.293275  126.866780

[18416 rows x 4 columns]

In [107]:
result['지역명'].unique()

array(['경기도 가평군', '대전광역시 유성구', '경기도 성남시', '서울특별시 강동구', '서울특별시 양천구',
       '경기도 오산시', '경상북도 영천시', '경기도 연천군', '강원도 속초시', '경상남도 진주시',
       '울산광역시 중구', '광주광역시 남구', '충청남도 홍성군', '전라남도 강진군', '서울특별시 강남구',
       '세종특별자치시 없음', '충청북도 제천시', '경상북도 경주시', '경상북도 영덕군', '경상북도 영주시',
       '경상북도 포항시', '전북특별자치도 전주시', '부산광역시 북구', '경상남도 창원시', '경기도 평택시',
       '대구광역시 달서구', '울산광역시 남구', '부산광역시 기장군', '경상남도 통영시', '광주광역시 북구',
       '경기도 안산시', '강원특별자치도 양양군', '전라남도 해남군', '서울특별시 서초구', '강원특별자치도 철원군',
       '대전광역시 동구', '서울특별시 성동구', '부산광역시 사상구', '전북특별자치도 완주군', '서울특별시 은평구',
       '대구광역시 중구', '충청북도 청주시', '충청남도 부여군', '인천광역시 강화군', '경기도 광명시',
       '충청남도 청양군', '강원도 태백시', '전라북도 고창군', '대구광역시 동구', '경상남도 거창군',
       '경상남도 양산시', '경상남도 밀양시', '경상남도 하동군', '경상남도 함안군', '경상남도 함양군',
       '경상남도 합천군', '광주광역시 동구', '광주광역시 서구', '광주광역시 광산구', '경기도 화성시',
       '강원도 철원군', '전라북도 남원시', '경기도 포천시', '전라남도 함평군', '강원도 양양군', '경기도 양평군',
       '서울특별시 광진구', '경기도 용인시', '부산광역시 영도구', '경상남도 김해시', '서울특별시 강서구',
       '대구광역시 북구', '경상북도 칠곡군', '충청북도 증평군', '인천광역시 계양구', '인천광역시 연수구',
       '경기도 시흥시', '서울특별시 마포구', '서울특별시 서울특별시 도봉구', '충청북도 음성군', '강원도 삼척시',
       '서울특별시 영등포구', '전라남도 장성군', '서울특별시 노원구\u3000', '강원특별자치도 태백시',
       '대구광역시 수성구', '경상북도 성주군', '인천광역시 부평구', '경기도 부천시', '서울특별시 서대문구',
       '경상북도 문경시', '경상북도 안동시', '서울특별시 중구', '전라북도 임실군', '강원도 동해시',
       '부산광역시 서구', '제주특별자치도 제주시', '강원특별자치도 동해시', '전라북도 전주시 덕진구',
       '전라북도 군산시', '전라북도 익산시', '전라북도 정읍시', '부산광역시 동래구', '전라남도 무안군',
       '경상북도 의성군', '부산광역시 강서구', '인천광역시 중구', '대구광역시 달성군', '강원도 화천군',
       '인천광역시 남동구', '인천광역시 동구', '경상남도 산청군', '전라북도 진안군', '강원도 양구군',
       '강원도 정선군', '전라남도 화순군', '충청북도 옥천군', '대구광역시 남구', '부산광역시 연제구',
       '충청남도 논산시', '경상북도 구미시', '울산광역시 울주군', '서울특별시 구로구', '인천광역시 미추홀구',
       '경상북도 상주시', '경상북도 울릉군', '경기도 하남시', '전라남도 순천시', '전라남도 진도군',
       '제주특별자치도 서귀포시', '경기도 군포시', '강원도 평창군', '전라남도 목포시', '전라남도 영광군',
       '부산광역시 남구', '강원특별자치도 강릉시', '서울특별시 용산구', '경기도 파주시', '서울특별시 송파구',
       '강원특별자치도 삼척시', '강원특별자치도 홍천군', '경기도 과천시', '경기도 의정부시', '부산광역시 중구',
       '충청남도 금산군', '경기도 양주시', '충청북도 진천군', '경상북도 청송군', '충청남도 계룡시',
       '경기도 동두천시', '인천광역시 서구', '서울특별시 성북구', '전북특별자치도 정읍시', '서울특별시 관악구',
       '경기도 의왕시', '서울특별시 종로구', '전라남도 구례군', '강원도 원주시', '대구광역시 서구',
       '대구광역시 군위군', '충청북도 영동군', '경상북도 예천군', '강원특별자치도 양구군', '충청남도 태안군',
       '충청남도 공주시', '강원특별자치도 춘천시', '경상북도 김천시', '전북특별자치도 부안군', '경기도 남양주시',
       '경상남도 남해군', '전라북도 부안군', '충청남도 천안시', '전라남도 신안군', '경상남도 고성군',
       '전라북도 김제시', '전라북도 완주군', '전라북도 무주군', '전라북도 장수군', '전라북도 순창군',
       '강원도 강릉시', '부산광역시 사하구', '강원특별자치도 화천군', '서울특별시 동작구', '강원도 홍천군',
       '대전광역시 중구', '전북특별자치도 임실군', '울산광역시 동구', '전라남도 보성군', '전라남도 장흥군',
       '경상남도 의령군', '부산광역시 동구', '경상북도 봉화군', '전라북도 전주시', '경기도 수원시',
       '충청북도 괴산군', '부산광역시 부산진구', '충청북도 충주시', '충청남도 예산군', '전라남도 곡성군',
       '부산광역시 수영구', '부산광역시 금정구', '충청남도 보령시', '전북특별자치도 순창군', '전북특별자치도 고창군',
       '전북특별자치도 무주군', '전라남도 완도군', '전북특별자치도 장수군', '경상북도 울진군', '경기도 광주시',
       '대전광역시 서구', '경상북도 하양읍', '경상북도 영양군', '전라남도 광양시', '전라남도 영암군',
       '전라남도 여수시', '대전광역시 대덕구', '경상북도 청도군', '경상북도 고령군', '경상북도 경산시',
       '전북특별자치도 군산시', '전북특별자치도 익산시', '전북특별자치도 남원시', '전북특별자치도 김제시',
       '강원특별자치도 영월군', '강원특별자치도 원주시', '강원특별자치도 인제군', '강원특별자치도 정선군',
       '강원특별자치도 평창군', '강원특별자치도 횡성군', '서울특별시 금천구', '강원도 춘천시', '강원도 영월군',
       '경기도 안양시', '전라남도 나주시', '전라남도 고흥군', '전라남도 담양군', '충청남도 서산시',
       '경상남도 사천시', '경상남도 창원시 마산합포구', '경상남도 창녕군', '경상남도 창원시 성산구',
       '경상남도 창원시 마산회원구', '강원특별자치도 고성군', '강원특별자치도 속초시', '경기도 여주시',
       '경기도 김포시', '경상남도 거제시', '충청북도 단양군', '경기도 구리시', '경기도 고양시', '경기도 이천시',
       '충청북도 괴산군 괴산읍', '강원도 횡성군', '전북특별자치도 진안군', '강원도 인제군', '강원도 고성군',
       '서울특별시 강북구', '충청남도 아산시', '인천광역시 옹진군', '충청남도 서천군', '부산광역시 해운대구',
       '울산광역시 북구', '전라북도 덕진구', '수원시 수원시', '인천광역시 부평구 ', '세종특별자치시 보람로',
       '세종특별자치시 부강면', '세종특별자치시 조치원읍', '세종특별자치시 남세종로', '세종특별자치시 달빛2로',
       '세종특별자치시 도움3로', '세종특별자치시 해밀2로', '충청북도 보은군', '경상북도 포항시 북구',
       '부산광역시 부산연제구', '부산광역시 부산동구', '부산광역시 부산중구', '부산광역시 부산동래구',
       '부산광역시 부산남구', '부산광역시 부산북구', '부산광역시 부산서구', '부산광역시 부산시사하구',
       '부산광역시 부산기장군', '부산광역시 부산영도구', '경기도  용인시', '경기도 안성시', '경기도 양평군 ',
       '대전광역시 서구 ', '충청남도 논산시 ', '충청남도 당진시', '인천광역시 남동구 ', '서울특별시 노원구',
       '서울특별시 동대문구', '세종특별자치시 세종시', '세종특별자치시 아름서길', '서울특별시 중랑구',
       '서울특별시 도봉구', '경기도 광주시 ', '경기도 수원시 ', '경기도 일산동구', '전라북도 진안읍',
       '전라남도 해남읍', '경상남도 광도면', '경상남도 거창읍', '경기도 수원시 팔달구', '경기도 수원시 권선구',
       '경기도 안산시 단원구', '경기도 의정부', '경기도 동두천', '경상북도 포항시 남구', '충청남도 천안시 서북구',
       '충청남도 태안읍', '제주특별자치도 서귀포', '충청북도 청주시 서원구', '충청북도 청주시 청원구',
       '세종특별자치시 시청대로', '세종특별자치시 한누리대로', '세종특별자치시 집현중앙로', '세종특별자치시 다정남로',
       '세종특별자치시 나리로', '세종특별자치시 집현중앙7로', '세종특별자치시 소담4로', '세종특별자치시 마음안로',
       '세종특별자치시 장군면', '세종특별자치시 다솜로', '세종특별자치시 마음로', '세종특별자치시 연동면',
       '세종특별자치시 연서면', '세종특별자치시 갈매로'], dtype=object)

In [108]:
result['지역명']=result['지역명'].str.strip()
result

         시도명        지역명         위도          경도
0        경기도    경기도 가평군  37.829691  127.506433
1        경기도    경기도 가평군  37.683315  127.491015
2        경기도    경기도 가평군  37.739591  127.424230
3        경기도    경기도 가평군  37.818290  127.352981
4      대전광역시  대전광역시 유성구  36.349268  127.330255
...      ...        ...        ...         ...
14941    경기도    경기도 포천시  37.889712  127.201129
14942    경기도    경기도 성남시  37.404132  127.152601
14943  서울특별시  서울특별시 강남구  37.517968  127.047060
14944  서울특별시  서울특별시 강남구  37.515911  127.052143
14945    경기도    경기도 안산시  37.293275  126.866780

[18416 rows x 4 columns]

In [109]:
result=result[result['지역명']!='세종특별자치시 없음']
result

         시도명        지역명         위도          경도
0        경기도    경기도 가평군  37.829691  127.506433
1        경기도    경기도 가평군  37.683315  127.491015
2        경기도    경기도 가평군  37.739591  127.424230
3        경기도    경기도 가평군  37.818290  127.352981
4      대전광역시  대전광역시 유성구  36.349268  127.330255
...      ...        ...        ...         ...
14941    경기도    경기도 포천시  37.889712  127.201129
14942    경기도    경기도 성남시  37.404132  127.152601
14943  서울특별시  서울특별시 강남구  37.517968  127.047060
14944  서울특별시  서울특별시 강남구  37.515911  127.052143
14945    경기도    경기도 안산시  37.293275  126.866780

[18394 rows x 4 columns]

In [110]:
result.to_csv('data.csv',index=False)

In [111]:
result['지역명'].unique()

array(['경기도 가평군', '대전광역시 유성구', '경기도 성남시', '서울특별시 강동구', '서울특별시 양천구',
       '경기도 오산시', '경상북도 영천시', '경기도 연천군', '강원도 속초시', '경상남도 진주시',
       '울산광역시 중구', '광주광역시 남구', '충청남도 홍성군', '전라남도 강진군', '서울특별시 강남구',
       '충청북도 제천시', '경상북도 경주시', '경상북도 영덕군', '경상북도 영주시', '경상북도 포항시',
       '전북특별자치도 전주시', '부산광역시 북구', '경상남도 창원시', '경기도 평택시', '대구광역시 달서구',
       '울산광역시 남구', '부산광역시 기장군', '경상남도 통영시', '광주광역시 북구', '경기도 안산시',
       '강원특별자치도 양양군', '전라남도 해남군', '서울특별시 서초구', '강원특별자치도 철원군', '대전광역시 동구',
       '서울특별시 성동구', '부산광역시 사상구', '전북특별자치도 완주군', '서울특별시 은평구', '대구광역시 중구',
       '충청북도 청주시', '충청남도 부여군', '인천광역시 강화군', '경기도 광명시', '충청남도 청양군',
       '강원도 태백시', '전라북도 고창군', '대구광역시 동구', '경상남도 거창군', '경상남도 양산시',
       '경상남도 밀양시', '경상남도 하동군', '경상남도 함안군', '경상남도 함양군', '경상남도 합천군',
       '광주광역시 동구', '광주광역시 서구', '광주광역시 광산구', '경기도 화성시', '강원도 철원군',
       '전라북도 남원시', '경기도 포천시', '전라남도 함평군', '강원도 양양군', '경기도 양평군',
       '서울특별시 광진구', '경기도 용인시', '부산광역시 영도구', '경상남도 김해시', '서울특별시 강서구',
       '대구광역시 북구', '경상북도 칠곡군', '충청북도 증평군', '인천광역시 계양구', '인천광역시 연수구',
       '경기도 시흥시', '서울특별시 마포구', '서울특별시 서울특별시 도봉구', '충청북도 음성군', '강원도 삼척시',
       '서울특별시 영등포구', '전라남도 장성군', '서울특별시 노원구', '강원특별자치도 태백시', '대구광역시 수성구',
       '경상북도 성주군', '인천광역시 부평구', '경기도 부천시', '서울특별시 서대문구', '경상북도 문경시',
       '경상북도 안동시', '서울특별시 중구', '전라북도 임실군', '강원도 동해시', '부산광역시 서구',
       '제주특별자치도 제주시', '강원특별자치도 동해시', '전라북도 전주시 덕진구', '전라북도 군산시',
       '전라북도 익산시', '전라북도 정읍시', '부산광역시 동래구', '전라남도 무안군', '경상북도 의성군',
       '부산광역시 강서구', '인천광역시 중구', '대구광역시 달성군', '강원도 화천군', '인천광역시 남동구',
       '인천광역시 동구', '경상남도 산청군', '전라북도 진안군', '강원도 양구군', '강원도 정선군',
       '전라남도 화순군', '충청북도 옥천군', '대구광역시 남구', '부산광역시 연제구', '충청남도 논산시',
       '경상북도 구미시', '울산광역시 울주군', '서울특별시 구로구', '인천광역시 미추홀구', '경상북도 상주시',
       '경상북도 울릉군', '경기도 하남시', '전라남도 순천시', '전라남도 진도군', '제주특별자치도 서귀포시',
       '경기도 군포시', '강원도 평창군', '전라남도 목포시', '전라남도 영광군', '부산광역시 남구',
       '강원특별자치도 강릉시', '서울특별시 용산구', '경기도 파주시', '서울특별시 송파구', '강원특별자치도 삼척시',
       '강원특별자치도 홍천군', '경기도 과천시', '경기도 의정부시', '부산광역시 중구', '충청남도 금산군',
       '경기도 양주시', '충청북도 진천군', '경상북도 청송군', '충청남도 계룡시', '경기도 동두천시',
       '인천광역시 서구', '서울특별시 성북구', '전북특별자치도 정읍시', '서울특별시 관악구', '경기도 의왕시',
       '서울특별시 종로구', '전라남도 구례군', '강원도 원주시', '대구광역시 서구', '대구광역시 군위군',
       '충청북도 영동군', '경상북도 예천군', '강원특별자치도 양구군', '충청남도 태안군', '충청남도 공주시',
       '강원특별자치도 춘천시', '경상북도 김천시', '전북특별자치도 부안군', '경기도 남양주시', '경상남도 남해군',
       '전라북도 부안군', '충청남도 천안시', '전라남도 신안군', '경상남도 고성군', '전라북도 김제시',
       '전라북도 완주군', '전라북도 무주군', '전라북도 장수군', '전라북도 순창군', '강원도 강릉시',
       '부산광역시 사하구', '강원특별자치도 화천군', '서울특별시 동작구', '강원도 홍천군', '대전광역시 중구',
       '전북특별자치도 임실군', '울산광역시 동구', '전라남도 보성군', '전라남도 장흥군', '경상남도 의령군',
       '부산광역시 동구', '경상북도 봉화군', '전라북도 전주시', '경기도 수원시', '충청북도 괴산군',
       '부산광역시 부산진구', '충청북도 충주시', '충청남도 예산군', '전라남도 곡성군', '부산광역시 수영구',
       '부산광역시 금정구', '충청남도 보령시', '전북특별자치도 순창군', '전북특별자치도 고창군',
       '전북특별자치도 무주군', '전라남도 완도군', '전북특별자치도 장수군', '경상북도 울진군', '경기도 광주시',
       '대전광역시 서구', '경상북도 하양읍', '경상북도 영양군', '전라남도 광양시', '전라남도 영암군',
       '전라남도 여수시', '대전광역시 대덕구', '경상북도 청도군', '경상북도 고령군', '경상북도 경산시',
       '전북특별자치도 군산시', '전북특별자치도 익산시', '전북특별자치도 남원시', '전북특별자치도 김제시',
       '강원특별자치도 영월군', '강원특별자치도 원주시', '강원특별자치도 인제군', '강원특별자치도 정선군',
       '강원특별자치도 평창군', '강원특별자치도 횡성군', '서울특별시 금천구', '강원도 춘천시', '강원도 영월군',
       '경기도 안양시', '전라남도 나주시', '전라남도 고흥군', '전라남도 담양군', '충청남도 서산시',
       '경상남도 사천시', '경상남도 창원시 마산합포구', '경상남도 창녕군', '경상남도 창원시 성산구',
       '경상남도 창원시 마산회원구', '강원특별자치도 고성군', '강원특별자치도 속초시', '경기도 여주시',
       '경기도 김포시', '경상남도 거제시', '충청북도 단양군', '경기도 구리시', '경기도 고양시', '경기도 이천시',
       '충청북도 괴산군 괴산읍', '강원도 횡성군', '전북특별자치도 진안군', '강원도 인제군', '강원도 고성군',
       '서울특별시 강북구', '충청남도 아산시', '인천광역시 옹진군', '충청남도 서천군', '부산광역시 해운대구',
       '울산광역시 북구', '전라북도 덕진구', '수원시 수원시', '세종특별자치시 보람로', '세종특별자치시 부강면',
       '세종특별자치시 조치원읍', '세종특별자치시 남세종로', '세종특별자치시 달빛2로', '세종특별자치시 도움3로',
       '세종특별자치시 해밀2로', '충청북도 보은군', '경상북도 포항시 북구', '부산광역시 부산연제구',
       '부산광역시 부산동구', '부산광역시 부산중구', '부산광역시 부산동래구', '부산광역시 부산남구',
       '부산광역시 부산북구', '부산광역시 부산서구', '부산광역시 부산시사하구', '부산광역시 부산기장군',
       '부산광역시 부산영도구', '경기도  용인시', '경기도 안성시', '충청남도 당진시', '서울특별시 동대문구',
       '세종특별자치시 세종시', '세종특별자치시 아름서길', '서울특별시 중랑구', '서울특별시 도봉구',
       '경기도 일산동구', '전라북도 진안읍', '전라남도 해남읍', '경상남도 광도면', '경상남도 거창읍',
       '경기도 수원시 팔달구', '경기도 수원시 권선구', '경기도 안산시 단원구', '경기도 의정부', '경기도 동두천',
       '경상북도 포항시 남구', '충청남도 천안시 서북구', '충청남도 태안읍', '제주특별자치도 서귀포',
       '충청북도 청주시 서원구', '충청북도 청주시 청원구', '세종특별자치시 시청대로', '세종특별자치시 한누리대로',
       '세종특별자치시 집현중앙로', '세종특별자치시 다정남로', '세종특별자치시 나리로', '세종특별자치시 집현중앙7로',
       '세종특별자치시 소담4로', '세종특별자치시 마음안로', '세종특별자치시 장군면', '세종특별자치시 다솜로',
       '세종특별자치시 마음로', '세종특별자치시 연동면', '세종특별자치시 연서면', '세종특별자치시 갈매로'],
      dtype=object)

In [112]:
result[result['지역명']=='수원시 수원시']

     시도명      지역명         위도          경도
111  수원시  수원시 수원시  37.257061  126.983015

In [113]:
result.to_csv('data.csv',index=False)